
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Study Buddy</title>
    <style>
    .logo-image {
        /* padding-top: 10px;
        position: relative; */
        width: 100px;
        height: 100px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
      } 
      
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* border-radius: 50%; 
        overflow: hidden;
        width: 125px; 
        height: 125px; */
      }

    img{
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
    
    .line{
        display:inline-block;
        border-bottom:2px #5B3400 solid;
        margin-left:5px;
        width:80%;
    }

    .container {
      width: auto;
      max-width: 680px;
      padding: 0 0px;
    }
    </style>
    <link href="./css/dashboard.css" rel="stylesheet">

    <!-- NEW SCRIPT FOR VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./new_listing.js"></script>
 
  </head>
  <body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Study Buddy</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>
    
  <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <div class="logo-image center">
                  <span>
                    <img v-bind:src="imageSRC" class="rounded img_logo">
                  </span>
              </div>
              <li class="nav-item center">
                <a class="nav-link">
                  @{{ username }}
                </a>
              </li>
              <br>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="./homepage.html">
                  View All Listings
                </a>
              </li>
              <li class="nav-item" style="list-style-type: none">
                <a class="nav-link" href="./your_homework/my_homework.html">
                  Your Homework
                       <li style="padding: 0px 0px 0px 32px;" ><a class="nav-link" href="./your_homework/open_homework.html">Open</a></li>
                       <li style="padding: 0px 0px 0px 32px;"><a class="nav-link" href="./your_homework/progress_homework.html">In Progress</a></li>
                       <li style="padding: 0px 0px 0px 32px;"><a class="nav-link" href="./your_homework/completed_homework.html">Completed</a></li>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./new_listing.html">
                  Create New Listing
                </a>
              </li>

              <li class="nav-item text-nowrap">
                <a class="nav-link" href="#" style="color: red;">Sign out</a>
              </li> 
            </ul>
          </div>
        </nav>
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
              <h1 class="h2">Create New Homework Listing</h1>
            </div>
            
            <div id="app">
                
                <div class="form-group pb-3">
                    <label for="homework_image">Select image of Homework:</label>
                    <br>
                    <input type="file" id="file"><br>
                    <input type="hidden" id="url">

                </div>
  
                <div class="form-group pb-3">
                    Subject of Homework:
                    <br>
                   <input type="text" v-model="newSubject" class="form-control form-control-sm" name="subject"  placeholder="Enter Subject of Homework" required>
                    
                </div>
    
                <div class="form-group pb-3">
                    <label for="listing_title">Listing Title</label>
                    <input type="text" v-model="newTitle" class="form-control form-control-sm" id="listing_title" placeholder="Enter Title" required>
                </div>
    
                <div class="form-group pb-3">
                    <label for="price">Price of Homework ($)</label>
                    <input type="number" v-model="newPrice" class="form-control form-control-sm" id="price" min=0 placeholder="Enter Price" required>
                </div>
  
                <div class="form-group pb-3">
                    Description of Homework:
                    <br>
                    <textarea name="description" v-model="newDescription" rows="4" cols="50" required></textarea>
                </div>
  
                <div class="form-group pb-3">
                  <label for="deadline">Deadline</label>
                  <input type="date" v-model="newDeadline" class="form-control form-control-sm" id="deadline" required>
                </div>
                
                <div class="form-group pb-3">
                  Choice of Meeting:
                  <br>
                  <input type="radio" name="meetings" v-model="newMeeting" value="Non-Virtual"> Chat
                  <br>
                  <input type="radio" name="meetings" v-model="newMeeting" value="Virtual"> Zoom
                  <br>
                </div>                
  
                <button @click="addHomework" class="btn btn-primary my-3" v-on:submit.prevent="onSubmit" style="float:right;">Create New Homework Listing</button>
  
              <div class="text-success" v-if="homeworkAdded">
                The homework has been successfully placed! <br>
                <br>
              </div>
              <div class="text-danger" v-if="addHomeworkError!=''">
                  There is a problem adding this homework:<br>
                  <div v-for="error in addHomeworkError">
                    {{ error}}
                  </div>
                  
                  <br>
              </div>
            </div>
            
          </main>
        </div>
    </div>
    <footer class="footer mt-auto py-3 bg-dark">
      <div class="container">
        <span class="text-muted">If you face any issues, please contact yuquan.yeo.2019@sis.smu.edu.sg</span>
      </div>
    </footer>


          <script>
            

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0 so need to add 1 to make it 1!
            var yyyy = today.getFullYear();
            if(dd<10){
              dd='0'+dd
            } 
            if(mm<10){
              mm='0'+mm
            } 

            today = yyyy+'-'+mm+'-'+dd;
            document.getElementById("deadline").setAttribute("min", today);

            var sidebar = new Vue ({
              el: "#sidebarMenu",
              data: {
                username: `${localStorage.getItem("username")}`,
                imageSRC: `${localStorage.getItem("photo")}`,
              }

            });

            var app = new Vue({
                el: "#app",
                
                data: {
                    user_id: `${localStorage.getItem("user_id")}`,
                    "homework": [],
                    message: "There is a problem retrieving homework data, please try again later.",
                    newSubject: "",
                    newTitle: "",
                    newPrice: "",
                    newDescription: "",
                    newDeadline: "",
                    newMeeting: "",
                    newImage: `${localStorage.getItem("newHomeworkImage")}`,
                    homeworkAdded: false,
                    addHomeworkError: []
                },
                methods: {
                    
                   
                    addHomework: function () {
                        // reset data
                        this.homeworkAdded = false;
                        this.addHomeworkError = [];

                        if (this.newMeeting != "") {

                          if (parseInt(this.newPrice) < 0) {
                            this.addHomeworkError.push("Please enter a price greater than $0");
                             clearInterval(this);
                          }
                         
                        }
    
                        let jsonData = JSON.stringify({
                            student_id: this.user_id,
                            subject: this.newSubject,
                            meeting_type: this.newMeeting,
                            title: this.newTitle,
                            description: this.newDescription,
                            price: this.newPrice,
                            image: this.newImage,
                            deadline: this.newDeadline
                        });
    
                        fetch(`http://localhost:5100/homework/addHomework`,
                            {
                                method: "POST",
                                headers: {
                                    "Content-type": "application/json"
                                },
                                body: jsonData
                            })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                                result = data.data;
                                console.log(result);
                                // 3 cases
                                switch (data.code) {
                                    case 201:
                                        this.homeworkAdded = true;
    
                                        break;
                                    case 400:
                                    case 500:
                                        this.addHomeworkError.push(data.message);
                                        break;
                                    default:
                                        throw `${data.code}: ${data.message}`;
                                }
                            })
                    }
                }
            });
          </script>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>