
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Study Buddy</title>
    <style>
    .logo-image {
        /* padding-top: 10px;
        position: relative; */
        width: 100px;
        height: 100px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
      } 
      
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* border-radius: 50%; 
        overflow: hidden;
        width: 125px; 
        height: 125px; */
      }

    .img_logo{
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
    
    .line{
        display:inline-block;
        border-bottom:2px #5B3400 solid;
        margin-left:5px;
        width:80%;
    }


    
    </style>
    <link href="./css/dashboard.css" rel="stylesheet">

    <!-- NEW SCRIPT FOR VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  </head>
  <body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Study Buddy</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>
    
  <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <div class="logo-image center">
                  <span>
                    <img v-bind:src="profilePhoto" class="rounded img_logo">
                  </span>
              </div>
              <li class="nav-item center">
                <a class="nav-link">
                  @{{ username }}
                </a>
              </li>
              <br>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="./homepage.html">
                  View All Listings
                </a>
              </li>
              <li class="nav-item" style="list-style-type: none">
                <a class="nav-link" href="./your_homework/my_homework.html">
                  Your Homework
                  <li style="padding: 0px 0px 0px 32px;" ><a class="nav-link active" href="./your_homework/open_homework.html">Open</a></li>
                  <li style="padding: 0px 0px 0px 32px;"><a class="nav-link" href="./your_homework/progress_homework.html">In Progress</a></li>
                  <li style="padding: 0px 0px 0px 32px;"><a class="nav-link" href="./your_homework/completed_homework.html">Completed</a></li>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./new_listing.html">
                  Create New Listing
                </a>
              </li>

              <li class="nav-item text-nowrap">
                <a class="nav-link" href="#" style="color: red;">Sign out</a>
              </li> 
            </ul>
          </div>
        </nav>

          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
              <h1 class="h2">Offerings for Homework </h1>
            </div>

            <div id="app" v-if="hasLiaise" class="mb-3">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div v-for="aLiaise in getEachLiaise">
                  <div class="col">
                    <div class="card h-100">
                      <img class="w-100 h-100" v-bind:src="aLiaise.photo" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"> {{ aLiaise.username }} </h5>
                      <p class="card-text">Tutor Rating: {{ Math.round(aLiaise.rating * 100) / 100 }} / 5
                        <div style="width: 100px; height: 30px;"> 
                          <div style="background-color: yellow;" v-bind:style="{width: aLiaise.rating * 20 + '%' }">
                            <img src="./assets/stars.png" style="display: block;"/>
                          </div>
                        </div>
                      </p>
                      <p class="card-text">Offered Price: ${{ aLiaise.offering }}</p>
                      
                      <div class="row">
                        <div class="col">
                          <a v-bind:href="'checkout.html?liaise_id=' + aLiaise.liaise_id + '&tutor_id=' + aLiaise.tutor_id" class="btn btn-outline-success btn-block">Accept</a>
                          
                          
                        </div>
                        <div class="col">
                          <a @click="declineOffering(aLiaise.liaise_id)" class="btn btn-outline-danger btn-block" style="float:right;">Decline</a>
                        </div>
                      </div>
                      
                      <br>
                      <a class="btn btn-outline-primary" style="justify-content: center; display: flex;" v-on:click.stop.prevent="openWindow('https://t.me/' + aLiaise.telegram_id)">Chat</a>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="!hasLiaise">
                {{ message }}
              </div>
            </div>
          </main>

        </div>

    </div>

          <script>
            let params = new URLSearchParams(location.search);
            var homeworkID = params.get('homework_id');
      
            var sidebar = new Vue ({
              el: "#sidebarMenu",
              data: {
                username: `${localStorage.getItem("username")}`,
                profilePhoto: `${localStorage.getItem("photo")}`,
              }
      
            });
      
            var app = new Vue({
                el: "#app",
                computed: {
                    hasLiaise: function () {
                        return this.liaise.length > 0;
                    },

                    getEachLiaise: function () {
                      result = []
                      for (let i = 0; i < this.liaise.length; i++) {
                        result.push(this.liaise[i].data)
                        console.log(this.liaise[i].data);
                      }
                      return result
                    }
                },
                data: {
                    username: `${localStorage.getItem("username")}`,
                    "liaise": [],
                    message: "There is a problem retrieving liaise data, please try again later.",
                    acceptAdded: false,
                    acceptOfferingError: '',
                    rejectAdded: false,
                    rejectOfferingError: '',
                    markAdded: false,
                    
                },
                methods: {
                    getLiaiseByHomework: function () {
                        const response =
                            fetch(`http://localhost:5600/liaise_detail/${homeworkID}`)
                                .then(response => response.json())
                                .then(data => {
                                    console.log(response);
                                    if (data.code === 404) {
                                        // no liaise in db
                                        this.message = "There is no liaise available for this homework";
                                    } else {
                                        this.liaise = data.data.liaisons_result;
                                        console.log(this.liaise)
                                    }
                                })
                                .catch(error => {
                                    console.log(this.message + error);
                                    // Display No Liaise Available


                                });
      
                    },

                    declineOffering: function (liaise_id) {
                      // reset data
                      this.rejectAdded = false;
                      this.rejectOfferingError = "";

                      let jsonData = JSON.stringify({
                          liaise_id: liaise_id
                          
                      });

                      fetch(`http://localhost:5200/liaise/reject`,
                          {
                              method: "PUT",
                              headers: {
                                  "Content-type": "application/json"
                              },
                              body: jsonData
                          })
                          .then(response => response.json())
                          .then(data => {
                              this.getLiaiseByHomework();
                              console.log(data);
                              result = data.data;
                              console.log(result);
                              
                              switch (data.code) {
                                  case 201:
                                      this.rejectAdded = true;
                                      break;
                                  case 400:
                                  case 500:
                                      this.rejectOfferingError = data.message;
                                      break;
                                  default:
                                      throw `${data.code}: ${data.message}`;
                              }
                          })
                    },

                    
                },
                created: function () {
                    // on Vue instance created, load the liaise list
                    this.getLiaiseByHomework();
                }
            });
          </script>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>