<!doctype html>
<html lang="en">

<head>
    <title>Username</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<body>
    <div id="app" class="container">
        <h1>User</h1>
        <div class="row" v-show="!orderPlaced">
            <div id="main" class="col-8">
                Search by Username: <input v-model="user_id" placeholder="Username">
                <button @click="findUser()" type="button" class="my-1 btn btn-sm btn-primary">Search</button><br>
                <table class="table table-striped" v-if="hasUsers">
                    <!-- <table class="table table-striped"> -->
                    <thead>
                        <tr>
                            <th>UserID</th>
                            <th>Username</th>
                            <th>Telegram</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>Photo</th>
                            <!-- <th>Place Order</th> -->
                        </tr>
                        <tr v-for="user in users">
                            <td>{{ user.user_id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.telegram_id }}</td>
                            <td>{{ user.contact }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.photo }}</td>
                            <!-- <td><button @click="placeOrder(user)" type="button" class="btn btn-primary">Place
                                    Order</button>
                            </td> -->

                        </tr>
                    </thead>
                </table>
                <div class="text-danger" v-if="!hasUsers">{{ message }}</div>
            </div> <!-- main & col -->


            <div class="col-4">
                <h2>Add a User</h2>
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input v-model="newUsername" type="text" class="form-control" id="username" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="Telegram _ID">Telegram ID</label>
                    <input v-model="newTelegramId" type="text" class="form-control" id="telegramId" placeholder="Enter Telegram ID">
                </div>
                <div class="form-group">
                    <label for="contact">Contact</label>
                    <input v-model="newContact" type="number" class="form-control" id="contact" placeholder="Enter Contact">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input v-model="newEmail" type="text" class="form-control" id="email"
                        placeholder="Enter Email">
                </div>


                <button @click="addUser" class="btn btn-primary" v-on:submit.prevent="onSubmit">Add User</button>
                <div class="text-success" v-if="userAdded">
                    The user has been successfully placed! <br>
                    <br>
                </div>
                <div class="text-danger" v-if="addUserError!=''">
                    There is a problem adding this new user:<br>
                    {{ addUserError}}
                    <br>
                </div>
            </div> 
            
        </div>
    </div> <!-- app: container -->

    <script src="user_page.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>